apiVersion: app.sealos.io/v1
kind: App
metadata:
  name: automq
  namespace: app-system
spec:
  data:
    desc: automq
    url: "https://automq.cloud.sealos.run"
  icon: "https://avatars.githubusercontent.com/u/100772480?s=48&v=4"
  i18n:
    zh:
      name: 消息队列
    zh-Hans:
      name: 消息队列
  menuData:
    helpDocs: https://www.sealos.io/docs/cloud/apps/automq/
    helpDropDown: false
    nameColor: text-black
  name: Automq
  type: iframe
  displayType: normal